* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

html,
body {
  font-family: 'Inconsolata', monospace;
  ;
}

h1 {
  font-size: 6rem;
  font-weight: bold;
}

h2 {
  font-size: 6rem;
  font-weight: bold;
}

h4{
  font-size: 2.4rem;
}

.intro-text {
  font-size: 2rem;
}

p {
  font-size: 2rem;
  margin: 0px 0px 15px;
}

p > span{
  font-weight: bold;
}

/* -------------- */

.contenedor-nav {
  margin: auto;
  max-width: 1600px;
  overflow: auto;
  padding: 0 20px;
}

.contenedor {
  margin: auto;
  max-width: 1000px;
  overflow: auto;
  padding: 0 20px;
}

/* Barra Navegacion */

.navbar {
  /*position: sticky;*/
  width: 100%;
  top: 0;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  background-color: #e4c69f;
}

/* Barra Navegacion logo*/

.navbar .logo {
  float: left;
}

.navbar .logo img {
  width: 75px;
}

/* Barra Navegacion menu*/

.navbar .menu {
  float: right;
  list-style: none;
  font-size: 1.7rem;
  font-weight: bold;
}

.navbar .menu li {
  float: left;
}

.navbar .menu li a {
  display: block;
  padding: 25px 20px;
  text-align: center;

}

.navbar .menu li a:hover {
  text-decoration: underline;
}

.navbar a {
  text-decoration: none;
  color: black;
}


/* INTRODUCCION */

#intro {

  background-color: antiquewhite;
  padding-top: 230px;
  padding-bottom: 280px;
}

.intro-text {
  margin-left: 4px;
  margin-bottom: 20px;
}

.intro h2 {
  margin-top: 10px;
  max-width: 750px;
}

.intro .parrafo {
  margin-top: 20px;
  max-width: 540px;
}

/* ABOUT */

#about {
  background-color: rgb(248, 240, 230);
  padding: 200px 0px;
}

.heading-text {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: 2rem;
  white-space: nowrap;
}

.heading-text::after {
  content: "";
  display: block;
  position: relative;
  top: -1px;
  width: 300px;
  height: 3px;
  margin-left: 20px;
  background-color: rgb(172, 171, 169);
}

.sobremi{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.about-foto img{
  width: 250px;
}

.herramientas{
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));

}

.herramientas li{
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 1.7rem;
  list-style: none;
}

.herramientas li::before{
  content: "▹";
  position: absolute;
  left: 0px;
  color: black;
  font-size: 1.7rem;
 
}

/* PORTFOLIO */

#portfolio {
  background-color: antiquewhite;
  padding: 200px 0px;
}

.portfolio-fila{
  display: flex;
}

.portfolio-box img{
  width: 450px;
  height: 250px;
}

.portfolio-box{
  margin: 20px;
  
  text-align: center;
}

.portfolio-box h4{
  padding: 20px;
}

/* CONTACTO */

#contacto {
  background-color:  rgb(248, 240, 230);
  padding: 200px 0px;
}

.contact {
  align-items: center;

}

.contact img {
  width: 200px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: antiquewhite;
}







